
<table class="table">	
	<tr>
		<td><label>Cluster MASTER NODE</label></td>
		<td><input type="text" ng-model="clusterConfig.masterNodeUrl"></td>
	</tr>


	<tr>

		<td colspan="2"><input type="button" class="btn-primary"
			data-toggle="modal" data-target="#dbModal"
			value="Preview Configuration" style="border-radius: 5px"
			ng-disabled="createUrlDisabled">&nbsp;&nbsp;&nbsp; 
			 <!-- Modal -->
			<div class="modal fade" id="dbModal" role="dialog">
				<div class="modal-dialog">
					Modal content				<div class="modal-content">
						<div class="modal-body">
							<table class="table">
								<label>Database Configurations</label>

								<tr>
									<td>Database Type</td>
									<td><input type="text" ng-model="$parent.driverType.type"></td>
								</tr>

								<tr>
									<td>Host Ip</td>
									<td><input type="text" ng-model="$parent.dbConfig.hostIp"
										placeholder="eg:8080 etc."></td>
								</tr>

								<tr>
									<td>Username</td>
									<td><input type="text" ng-model="$parent.dbConfig.username"
										placeholder="eg:root or username of server"></td>
								</tr>

							</table>

							<table class="table">

								<tr ng-switch="$parent.outputLocation">

									<label ng-if="$parent.outputLocation=='s3'">S3 Location</label>
									<label ng-if="$parent.outputLocation=='hdfs'">Hdfs
										Location</label>

									<td ng-switch-when="s3">AWS S3 Location</td>
									<td ng-switch-when="s3"><input type="text"
										name="s3Location" ng-model="$parent.s3OutputConfig.s3Location"
										required /></td>

									<td ng-switch-when="hdfs">HDFS Location</td>
									<td ng-switch-when="hdfs"><input type="text"
										name="s3Location" ng-model="$parent.hdfsOutput.hdfsLocation"
										required /></td>
								</tr>

								<tr ng-switch="$parent.outputLocation">
									<td ng-switch-when="s3">AWS Access Key</td>
									<td ng-switch-when="s3"><input type="text"
										ng-model="$parent.s3OutputConfig.awsAccessKey" required /></td>
								</tr>
								<tr ng-switch="$parent.outputLocation">
									<td ng-switch-when="s3">AWS Secret Key</td>
									<td ng-switch-when="s3"><input type="text"
										ng-model="$parent.s3OutputConfig.awsSecretKey" required /></td>
								</tr>
								<tr ng-switch="$parent.outputLocation">
									<td ng-switch-when="s3">Partition Column</td>
									<td ng-switch-when="s3"><input type="text"
										ng-model="$parent.s3OutputConfig.partitionColumn" required /></td>
								</tr>
							</table>

							<table class="table"> 
								<label>Cluster Configurations</label>

								<tr>
									<td>Cluster MASTER NODE</td>
									<td><input type="text"
										ng-model="$parent.clusterConfig.masterNodeUrl"></td>
								</tr>

								<!-- <tr>
									<td>Context URL</td>
									<td><input type="text"
										ng-model="$parent.clusterConfig.contextUrl"></td>
								</tr>
								<tr>
									<td>NUMBER CORES PER CPU</td>
									<td><input type="text"
										ng-model="$parent.clusterConfig.coresPerCPU"></td>
								</tr>
								<tr>
									<td>MEMORY PER NODE</td>
									<td><input type="text"
										ng-model="$parent.clusterConfig.memoryPerNode"></td>
								</tr>
								<tr>
									<td>SPARK EXECUTOR INSTANCES</td>
									<td><input type="text"
										ng-model="$parent.clusterConfig.sparkExecutorInstance"></td>
								</tr> -->
								<tr>
									<td>Configuration Alias Name</td>
									<td><input type="text"
										ng-model="$parent.aliasName" required><br></td>
								</tr>
							</table>

						</div>
						<div class="modal-footer">
							<button type="button" class="btn btn-default"
								data-dismiss="modal" ng-click="savePreviewedConfiguration()">Save
								Configuration</button>
						</div>
					</div>
				</div>
			</div></td>

	</tr>
	
	<tr>
		<!-- <td colspan="2" style="text-align: right;">
			<input type="button" class="btn-warning" ng-click="processConfiguration()" value="Process"  style="text-align: right;">
		</td> -->
		<td style="text-align: right;" colspan="2">
					<input type="button" class="btn-warning" ng-click="processConfiguration()" value="Process"/>
		</td>
	</tr>
</table>
<div class="well-lg" ng-hide="showResult">
<table class="table">
	<tr>
		<td><label>Response:</label></td>
		<td><textarea rows="5" cols="70" id="showResult"></textarea></td>
	</tr>
</table>
</div>
