<center>
		<a href="#dispatchToIngestion" class="btn btn-success" ng-click="fetchAllConfigurations()">Data Ingestion</a>
		<a href="#dispatchToCluster" class="btn btn-info">Data Cleaning</a>
		<a href="#" class="btn btn-warning" ng-show="false">Analysis</a>
		<a href="#" class="btn btn-danger" ng-show="false">Visualization</a>
</center>

<div class="modal fade" id="clusterModal" data-backdrop="static" role="dialog">
	<div class="modal-dialog">
		<!-- Modal content-->
		<div class="modal-content">
			<h3><center>Set Cluster Details...</center></h3>
			<div class="modal-body">

				<form ng-submit="showSparkUI()">
					<div class="form-group">
						<label> Spark cluster IP:</label>
						 <input	type="text" class="form-control" id="emr_url"  ng-model="clusterConfig.masterNodeUrl"	required>
					</div>
					<div style="text-align: right;">
						<input type="submit" class="btn btn-warning" value="Submit" id="getEmrUrl" ng-click="validateClusterIP()"/>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>