<div class="table-responsive">
	<form>
		<table class="table">
			<tr>
				<td><label>AWS S3 Location</label></td>
				<td><input type="text" name="s3Location"
					ng-model="s3OutputConfig.s3Location" required /></td>
			</tr>
			<tr>
				<td><label>AWS Access Key</label></td>
				<td><input type="text" ng-model="s3OutputConfig.awsAccessKey"
					required /></td>
			</tr>
			<tr>
				<td><label>AWS Secret Key</label></td>
				<td><input type="text" ng-model="s3OutputConfig.awsSecretKey"
					required /></td>
			</tr>			
			<tr>
				<td></td>
				<td style="text-align: right;">
					<!-- <input type="submit"
					class="btn-warning" id="configProcessButton" value="Process"
					style="border-radius: 5px"> --> <a href="#dispatchToCluster"
					class="btn btn-success">Next</a>
				</td>
			</tr>

		</table>
	</form>
</div>
