<div class="table-responsive">
	<form ng-submit="processTwitter()">
		<table class="table">
			<tr>
				<td><label>Consumer Key</label></td>
				<td><input type="text" ng-model="twitterSource.consumerKey" required><br></td>
			</tr>
			<tr>
				<td><label>ConsumerSecret Key</label></td>
				<td><input type="text" ng-model="twitterSource.consumerSecret" required><br></td>
			</tr>
			<tr>
				<td><label>Access Token</label></td>
				<td><input type="text" ng-model="twitterSource.accessToken" required><br></td>
			</tr>
			<tr>
				<td><label>AccessToken Secret</label></td>
				<td><input type="text"
					ng-model="twitterSource.accessTokenSecret" required><br></td>
			</tr>

			<tr>
				<td><label>BatchingInterval</label></td>
				<td><input type="number"
					ng-model="twitterSource.batchingInterval" required><br></td>
			</tr>

			<tr>
				<td><label>Keywords</label></td>
				<td><textarea rows="2" cols="50"></textarea required><br></td>
			</tr>

			<tr>
				<td colspan='2' style="text-align: right;">
				<input type="submit" class="btn-warning" id="twitterProcessButton" value="Process" style="border-radius: 5px"></td>
			</tr>

		</table>
	</form>
</div>